.heroBox{
    perspective: 800px; 
    transform-style: preserve-3d;
  } 
.boxex{
  perspective: 600px; 
  transform-origin: top;
}
 
.item:nth-child(2){
  position: absolute;
  top:0;
  right:-58%;
  border:1px solid red
}

.item:nth-child(3){
  position: absolute;
  top:0;
  right:-139%;
  border:1px solid red
}

.item {
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  /* will-change: transform; */
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
}

 
@keyframes leftRight{
  100%{
    width: 100%;
  }
}


.perspective{
  perspective: 600px; /* Increased depth for better effect */
  transform-style: preserve-3d;
}

.box{
  transform-style: preserve-3d;
  perspective: 600px;
}

.box__face--front,
.box__face--bottom {
  transition: transform .7s cubic-bezier(0.175, 0.885, 0.32, 1.1) .1s, opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1) .1s ;
}

.box__face--front {
  transform: rotateX(0deg);
  transform-origin: top;
}

.box__face--bottom {
  transform: rotateX(-90deg) translateY(155px);
  transform-origin: bottom; 
  opacity: 0;
}

.box:hover .box__face--front {
  transform: rotateX(90deg) translateY(-155px);
  opacity: 0;
  
}

.box:hover .box__face--bottom {
  transform: rotateX(0deg) translateY(0px);
  opacity: 1;
   
}


.gallery {
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}
.gallery .column {
  position: relative;
  width: 25%;
  display: grid;
  gap: 2vw;
}
.gallery .column .imageContainer {
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.gallery .column:nth-of-type(1) {
  top: -45%;
}
.gallery .column:nth-of-type(2) {
  top: -95%;
}
.gallery .column:nth-of-type(3) {
  top: -45%;
}
.gallery .column:nth-of-type(4) {
  top: -75%;
}
.spacer {
  height: 100vh;
}
