@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;800&family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

body {
  background-color: #faf5ff;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.156); /* remove default grey */
}

progress::-webkit-progress-value {
  background-color: black; /* for Chrome, Safari */
}

progress::-moz-progress-bar {
  background-color: black; /* for Firefox */
}
